In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import os
df_anim = pd.read_csv("Anim_data.csv")
df_veg = pd.read_csv("Vegi_data.csv")
df_pop = pd.read_csv("Pop_data.csv")

In [23]:
df_pop.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit (CPC),Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2018,2018,1000 personnes,37172.00,X,Ciffre de sources internationales
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2019,2019,1000 personnes,38041.75,X,Ciffre de sources internationales
2,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2018,2018,1000 personnes,57793.00,X,Ciffre de sources internationales
3,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2019,2019,1000 personnes,58558.27,X,Ciffre de sources internationales
4,FBS,Bilans Alimentaires (2010-),8,Albanie,511,Population totale,S2501,Population,2018,2018,1000 personnes,2883.00,X,Ciffre de sources internationales

# Étape n°2 : Nettoyage et préparation des données

## 1


 
Nettoyer les titres de colonnes :

 1.1 Supprimer les espaces au début et à la fin des titres (s’il y en a)

 1.2 Remplacer les espaces par des underscores (ceux se situant entre les mots)

 1.3 Tout mettre en minuscule

In [24]:
# 1.1

df_pop.columns = df_pop.columns.str.strip()
df_anim.columns = df_anim.columns.str.strip()
df_veg.columns = df_veg.columns.str.strip()

In [25]:
# 1.2

df_pop.columns = df_pop.columns.str.replace(' ', '_')
df_anim.columns = df_anim.columns.str.replace(' ', '_')
df_veg.columns = df_veg.columns.str.replace(' ', '_')

In [26]:
# 1.3

df_pop.columns = df_pop.columns.str.lower()
df_anim.columns = df_anim.columns.str.lower()
df_veg.columns = df_veg.columns.str.lower()

In [27]:
df_pop.head()

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(cpc),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2018,2018,1000 personnes,37172.00,X,Ciffre de sources internationales
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2019,2019,1000 personnes,38041.75,X,Ciffre de sources internationales
2,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2018,2018,1000 personnes,57793.00,X,Ciffre de sources internationales
3,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2019,2019,1000 personnes,58558.27,X,Ciffre de sources internationales
4,FBS,Bilans Alimentaires (2010-),8,Albanie,511,Population totale,S2501,Population,2018,2018,1000 personnes,2883.00,X,Ciffre de sources internationales

## 2


Quelle sont les dimensions des jeux de données ?

In [28]:
# 2
shape_pop =df_pop.shape
shape_veg = df_veg.shape
shape_anim = df_anim.shape


print(f"Population (col/line) : {shape_pop}\nVegetale (col/line) : {shape_veg}\nAnimale (col/line) : {shape_anim}\n")

Population (col/line) : (366, 14)
Vegetale (col/line) : (93458, 14)
Animale (col/line) : (31542, 14)

## 3


A quoi ressemblent les 5 premières lignes de mes jeux de données ?

In [29]:
# 3
df_pop.head()

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(cpc),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2018,2018,1000 personnes,37172.00,X,Ciffre de sources internationales
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2019,2019,1000 personnes,38041.75,X,Ciffre de sources internationales
2,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2018,2018,1000 personnes,57793.00,X,Ciffre de sources internationales
3,FBS,Bilans Alimentaires (2010-),710,Afrique du Sud,511,Population totale,S2501,Population,2019,2019,1000 personnes,58558.27,X,Ciffre de sources internationales
4,FBS,Bilans Alimentaires (2010-),8,Albanie,511,Population totale,S2501,Population,2018,2018,1000 personnes,2883.00,X,Ciffre de sources internationales

In [30]:
df_anim.head()

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(cpc),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2731,Viande de Bovins,2018,2018,kg,2.62,E,Valeur estimée
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2731,Viande de Bovins,2019,2019,kg,2.73,E,Valeur estimée
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,661,Disponibilité alimentaire (Kcal),S2731,Viande de Bovins,2018,2018,million kcal,209191.00,I,Valeur imputée
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,661,Disponibilité alimentaire (Kcal),S2731,Viande de Bovins,2019,2019,million kcal,222521.90,I,Valeur imputée
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,671,Disponibilité de protéines en quantité (g),S2731,Viande de Bovins,2018,2018,g,14733.00,I,Valeur imputée

In [31]:
df_veg.head()

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(cpc),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2511,Blé et produits,2018,2018,kg,160.12,E,Valeur estimée
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2511,Blé et produits,2019,2019,kg,158.95,E,Valeur estimée
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,661,Disponibilité alimentaire (Kcal),S2511,Blé et produits,2018,2018,million kcal,18615276.00,I,Valeur imputée
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,661,Disponibilité alimentaire (Kcal),S2511,Blé et produits,2019,2019,million kcal,18906911.71,I,Valeur imputée
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,671,Disponibilité de protéines en quantité (g),S2511,Blé et produits,2018,2018,g,502040.00,I,Valeur imputée

 ## 4. 
 Pour les datasets df_anim et df_veg, ajoutez une colonne ‘type’ qui prendra

    respectivement une valeur ‘animal’ et ‘vegetal’. Une fois cette étape effectuée, regroupez

    les deux jeux de données en 1 et appelez ce DataFrame product. Attention à bien

    comprendre la structure des données pour utiliser la bonne méthode

In [32]:
# 4 

type = ['animale'] * len(df_anim.index)
type2 = ['vegetal'] * len(df_veg.index)
df_anim = df_anim.assign(type=type)
df_veg = df_veg.assign(type=type2)

product = pd.concat([df_anim, df_veg])

In [33]:
# 4
product.head()

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(cpc),produit,code_année,année,unité,valeur,symbole,description_du_symbole,type
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2731,Viande de Bovins,2018,2018,kg,2.62,E,Valeur estimée,animale
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,S2731,Viande de Bovins,2019,2019,kg,2.73,E,Valeur estimée,animale
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,661,Disponibilité alimentaire (Kcal),S2731,Viande de Bovins,2018,2018,million kcal,209191.00,I,Valeur imputée,animale
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,661,Disponibilité alimentaire (Kcal),S2731,Viande de Bovins,2019,2019,million kcal,222521.90,I,Valeur imputée,animale
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,671,Disponibilité de protéines en quantité (g),S2731,Viande de Bovins,2018,2018,g,14733.00,I,Valeur imputée,animale

## 5. 
Transformez df_pop afin de ne garder que le code du pays, le pays, l’année et la population. 

Renommer la colonne ‘value’ en ‘pop_1000_hab’.

In [34]:
df_pop.head(2)

,code_domaine,domaine,code_zone_(m49),zone,code_élément,élément,code_produit_(cpc),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2018,2018,1000 personnes,37172.00,X,Ciffre de sources internationales
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2019,2019,1000 personnes,38041.75,X,Ciffre de sources internationales

In [35]:
# code_zone_(m49) => code_du_pays
# zone => pays
# année => année
# valeur => population

# df_pop = df_pop['code_zone_(m49)'],['zone'],['année'],['population']


df_pop = df_pop.loc[:,['code_zone_(m49)', 'zone','année','valeur']]
df_pop = df_pop.rename(columns={'code_zone_(m49)': 'code_du_pays', 'zone': 'pays','valeur':'pop_1000_hab'})

In [36]:
df_pop.head()

   code_du_pays            pays  année  pop_1000_hab
0             4     Afghanistan   2018      37172.00
1             4     Afghanistan   2019      38041.75
2           710  Afrique du Sud   2018      57793.00
3           710  Afrique du Sud   2019      58558.27
4             8         Albanie   2018       2883.00

 ## 6.
Transformez products afin de ne garder que les colonnes :

 area_code_(fao), area, element, item, year, type, unit, value.

In [37]:
#  area_code_(fao), area, element, item, year, type, unit, value.

# area_code_(fao) => code_zone_(m49)
# area => zone
# element => élément
# item => produit
# year => année
# type => type
# unit => unité
# value => valeur

product = product.loc[:,['code_zone_(m49)', 'zone','élément','produit','année','type','unité','valeur']]
product = product.rename(columns={'code_zone_(m49)': 'code_du_pays', 'zone': 'pays','élément':'element','unité':'unit'})

In [38]:
product.head()

,code_du_pays,pays,element,produit,année,type,unit,valeur
0,4,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Viande de Bovins,2018,animale,kg,2.62
1,4,Afghanistan,Disponibilité alimentaire en quantité (kg/pers...,Viande de Bovins,2019,animale,kg,2.73
2,4,Afghanistan,Disponibilité alimentaire (Kcal),Viande de Bovins,2018,animale,million kcal,209191.00
3,4,Afghanistan,Disponibilité alimentaire (Kcal),Viande de Bovins,2019,animale,million kcal,222521.90
4,4,Afghanistan,Disponibilité de protéines en quantité (g),Viande de Bovins,2018,animale,g,14733.00

## 7

Fusionnez df_pop avec products et nommez ce DataFrame df. 

Afin de fusionner ces jeux de données vous devez identifier les clés primaires. 

Renommer les colonnes comme sur la capture d’écran ci-dessous.

In [39]:
df_pop.head(2)

   code_du_pays         pays  année  pop_1000_hab
0             4  Afghanistan   2018      37172.00
1             4  Afghanistan   2019      38041.75

In [40]:
df = pd.merge(df_pop, product, on=['code_du_pays', 'pays', 'année'])

In [41]:
df.head()

,code_du_pays,pays,année,pop_1000_hab,element,produit,type,unit,valeur
0,4,Afghanistan,2018,37172.0,Disponibilité alimentaire en quantité (kg/pers...,Viande de Bovins,animale,kg,2.62
1,4,Afghanistan,2018,37172.0,Disponibilité alimentaire (Kcal),Viande de Bovins,animale,million kcal,209191.00
2,4,Afghanistan,2018,37172.0,Disponibilité de protéines en quantité (g),Viande de Bovins,animale,g,14733.00
3,4,Afghanistan,2018,37172.0,Disponibilité de matière grasse en quantité (g),Viande de Bovins,animale,g,16217.00
4,4,Afghanistan,2018,37172.0,Disponibilité alimentaire en quantité (kg/pers...,Viande d'Ovins/Caprins,animale,kg,4.26

In [42]:
# renomer les colonnes pour corresondre au screen.

df = df.rename(columns={'code_du_pays': 'area_code_(fao)', 'pays': 'area','année':'year','produit':'item','valeur':'value'})

In [43]:
df

,area_code_(fao),area,year,pop_1000_hab,element,item,type,unit,value
0,4,Afghanistan,2018,37172.00,Disponibilité alimentaire en quantité (kg/pers...,Viande de Bovins,animale,kg,2.62
1,4,Afghanistan,2018,37172.00,Disponibilité alimentaire (Kcal),Viande de Bovins,animale,million kcal,209191.00
2,4,Afghanistan,2018,37172.00,Disponibilité de protéines en quantité (g),Viande de Bovins,animale,g,14733.00
3,4,Afghanistan,2018,37172.00,Disponibilité de matière grasse en quantité (g),Viande de Bovins,animale,g,16217.00
4,4,Afghanistan,2018,37172.00,Disponibilité alimentaire en quantité (kg/pers...,Viande d'Ovins/Caprins,animale,kg,4.26
...,...,...,...,...,...,...,...,...,...
124995,716,Zimbabwe,2019,14645.47,Disponibilité de matière grasse en quantité (g),Aliments pour enfants,vegetal,g,23.27
124996,716,Zimbabwe,2019,14645.47,Disponibilité alimentaire en quantité (kg/pers...,Miscellanees,vegetal,kg,2.62
124997,716,Zimbabwe,2019,14645.47,Disponibilité alimentaire (Kcal),Miscellanees,vegetal,million kcal,15718.43
124998,716,Zimbabwe,2019,14645.47,Disponibilité de protéines en quantité (g),Miscellanees,vegetal,g,460.05
124999,716,Zimbabwe,2019,14645.47,Disponibilité de matière grasse en quantité (g),Miscellanees,vegetal,g,191.69

## 8

Quelles sont les types de données de chaque colonne ?

In [44]:
df.dtypes

area_code_(fao)      int64
area                object
year                 int64
pop_1000_hab       float64
element             object
item                object
type                object
unit                object
value              float64
dtype: object

## 9

Combien y-a t’il de valeurs manquantes par variable ?

In [45]:
# Aucune valeur manquante.

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125000 entries, 0 to 124999
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   area_code_(fao)  125000 non-null  int64
 1   area             125000 non-null  object
 2   year             125000 non-null  int64
 3   pop_1000_hab     125000 non-null  float64
 4   element          125000 non-null  object
 5   item             125000 non-null  object
 6   type             125000 non-null  object
 7   unit             125000 non-null  object
 8   value            125000 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 9.5+ MB

## 10

Est-ce qu’il y a des valeurs aberrantes ? (population négative, etc.) 

Utilisez un récapitulatif statistique pour répondre à cette question.

In [46]:
# Une valeur abérante dans la colonne 'value'
    # -354g de huile de palme je vois pas comment c'est possible. 


df.describe()

       area_code_(fao)           year  pop_1000_hab         value
count    125000.000000  125000.000000  1.250000e+05  1.250000e+05
mean        425.301352    2018.508584  5.143125e+04  1.696994e+05
std         250.726029       0.499928  1.872539e+05  4.077793e+06
min           4.000000    2018.000000  1.076000e+01 -3.540000e+02
25%         204.000000    2018.000000  2.801000e+03  2.700000e-01
50%         418.000000    2019.000000  9.965000e+03  3.341500e+01
75%         642.000000    2019.000000  3.182529e+04  2.599985e+03
max         894.000000    2019.000000  1.465634e+06  4.623915e+08

## 11

Affichez les valeurs uniques de la colonne area

In [47]:
df['area'].unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas',
       'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus', 'Belgique',
       'Belize', 'Bénin', 'Bhoutan', 'Bolivie (État plurinational de)',
       'Bosnie-Herzégovine', 'Botswana', 'Brésil', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Danemark', 'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Espagne', 'Estonie',
       'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Guatemala',
       'Guinée', 'Guinée-Bissau', 'Guyana', 'Haïti', 'Honduras',
       'Hongrie', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Micronésie (États fédérés de)', 'Mongolie',
       'Monténégro', 'Mozambique', 'Myanmar', 'Namibie', 'Nauru', 'Népal',
       'Nicaragua', 'Niger', 'Nigéria', 'Norvège', 'Nouvelle-Calédonie',
       'Nouvelle-Zélande', 'Oman', 'Ouganda', 'Ouzbékistan', 'Pakistan',
       'Panama', 'Papouasie-Nouvelle-Guinée', 'Paraguay', 'Pays-Bas',
       'Pérou', 'Philippines', 'Pologne', 'Polynésie française',
       'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Sao Tomé-et-Principe',
       'Sénégal', 'Serbie', 'Seychelles', 'Sierra Leone', 'Slovaquie',
       'Slovénie', 'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède',
       'Suisse', 'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Trinité-et-Tobago', 'Tunisie',
       'Turkménistan', 'Turquie', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

## 12

Gardez uniquement les informations relatives aux pays (supprimez les zones géographiques ou économiques) 

Note : en fonction de votre méthode d’importation de données cette étape est facultative.

In [48]:
df.head()

,area_code_(fao),area,year,pop_1000_hab,element,item,type,unit,value
0,4,Afghanistan,2018,37172.0,Disponibilité alimentaire en quantité (kg/pers...,Viande de Bovins,animale,kg,2.62
1,4,Afghanistan,2018,37172.0,Disponibilité alimentaire (Kcal),Viande de Bovins,animale,million kcal,209191.00
2,4,Afghanistan,2018,37172.0,Disponibilité de protéines en quantité (g),Viande de Bovins,animale,g,14733.00
3,4,Afghanistan,2018,37172.0,Disponibilité de matière grasse en quantité (g),Viande de Bovins,animale,g,16217.00
4,4,Afghanistan,2018,37172.0,Disponibilité alimentaire en quantité (kg/pers...,Viande d'Ovins/Caprins,animale,kg,4.26

## 13

Modifiez votre jeu de données afin que les informations soient indexées par area_code, area, year, pop_1000_hab, type et item. 

Les valeurs de la colonne element doivent être séparées dans des colonnes différentes. Recherchez sur internet la différence entre les formats long et les formats wide. 

Pour réussir cette étape creuser la méthode pivot_table. 

Il est préférable d’appliquer la méthode reset_index() après avoir utilisé la méthode précédente.

In [49]:

pivot_df = df.pivot_table(values='value', index=['area_code_(fao)', 'area', 'year', 'pop_1000_hab', 'type', 'item'], columns='element')

In [50]:
pivot_df = pivot_df.reset_index()

In [51]:
pivot_df.head()

element,area_code_(fao),area,year,pop_1000_hab,type,item,Disponibilité alimentaire (Kcal),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g),Disponibilité de protéines en quantité (g)
0,4,Afghanistan,2018,37172.0,animale,Abats Comestible,56800.0,1.36,2228.0,8180.0
1,4,Afghanistan,2018,37172.0,animale,"Beurre, Ghee",300358.0,1.00,33974.0,363.0
2,4,Afghanistan,2018,37172.0,animale,Crème,3165.0,0.04,313.0,44.0
3,4,Afghanistan,2018,37172.0,animale,Graisses Animales Crue,107974.0,0.27,11968.0,96.0
4,4,Afghanistan,2018,37172.0,animale,Lait - Excl Beurre,1348524.0,37.36,68216.0,82907.0

## 14

Faire du nettoyage dans le nom des colonnes

À ce stade votre jeu de données doit ressembler à cela :

In [52]:
pivot_df

element,area_code_(fao),area,year,pop_1000_hab,type,item,Disponibilité alimentaire (Kcal),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g),Disponibilité de protéines en quantité (g)
0,4,Afghanistan,2018,37172.00,animale,Abats Comestible,56800.00,1.36,2228.00,8180.00
1,4,Afghanistan,2018,37172.00,animale,"Beurre, Ghee",300358.00,1.00,33974.00,363.00
2,4,Afghanistan,2018,37172.00,animale,Crème,3165.00,0.04,313.00,44.00
3,4,Afghanistan,2018,37172.00,animale,Graisses Animales Crue,107974.00,0.27,11968.00,96.00
4,4,Afghanistan,2018,37172.00,animale,Lait - Excl Beurre,1348524.00,37.36,68216.00,82907.00
...,...,...,...,...,...,...,...,...,...,...
31423,894,Zambie,2019,17861.03,vegetal,Sésame,13.91,0.00,1.21,0.43
31424,894,Zambie,2019,17861.03,vegetal,Thé,768.65,0.11,0.00,192.16
31425,894,Zambie,2019,17861.03,vegetal,Tomates et produits,5061.42,1.40,50.82,251.66
31426,894,Zambie,2019,17861.03,vegetal,Vin,1841.69,0.15,0.00,0.04
31427,894,Zambie,2019,17861.03,vegetal,"Épices, Autres",13190.86,0.22,604.23,441.96

## 15
Créez des masques afin d’afficher un DataFrame qui ne contient que l’année 2018

In [53]:
mask = pivot_df['year'] == 2018
pivot_df_2018 = pivot_df[mask]

In [54]:
pivot_df_2018

element,area_code_(fao),area,year,pop_1000_hab,type,item,Disponibilité alimentaire (Kcal),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g),Disponibilité de protéines en quantité (g)
0,4,Afghanistan,2018,37172.0,animale,Abats Comestible,56800.0,1.36,2228.0,8180.0
1,4,Afghanistan,2018,37172.0,animale,"Beurre, Ghee",300358.0,1.00,33974.0,363.0
2,4,Afghanistan,2018,37172.0,animale,Crème,3165.0,0.04,313.0,44.0
3,4,Afghanistan,2018,37172.0,animale,Graisses Animales Crue,107974.0,0.27,11968.0,96.0
4,4,Afghanistan,2018,37172.0,animale,Lait - Excl Beurre,1348524.0,37.36,68216.0,82907.0
...,...,...,...,...,...,...,...,...,...,...
31334,894,Zambie,2018,17352.0,vegetal,Sésame,15.0,0.00,1.0,0.0
31335,894,Zambie,2018,17352.0,vegetal,Thé,815.0,0.12,0.0,204.0
31336,894,Zambie,2018,17352.0,vegetal,Tomates et produits,4950.0,1.42,50.0,247.0
31337,894,Zambie,2018,17352.0,vegetal,Vin,2237.0,0.19,0.0,0.0
31338,894,Zambie,2018,17352.0,vegetal,"Épices, Autres",9331.0,0.16,426.0,312.0

## 16
Nous allons ajouter une nouvelle colonne à notre jeu de données : la zone géographique. 

Pour cela rendez-vous sur le site de la FAO, 

votre objectif est de télécharger des nouveaux datasets pour ajouter les zones suivantes à votre jeu de données : 

'eastern_africa', 'middle_africa', 'northern_africa', 'southern_africa', 'western_africa', 'northern_america', 'central_america',

'caribbean', 'south_america', 'central_asia', 'eastern_asia', 'southern_asia', 'south_eastern_asia', 'western_asia', 

'eastern_europe', 'northern_europe', 'southern_europe', 'western_europe', 'australia_new_zealand', 'melanesia', 'micronesia', 

'polynesia'

In [55]:
# df_eastern_africa = pd.read_csv("Df_regions/eastern_africa.csv")
# df_middle_africa = pd.read_csv("Df_regions/middle_africa.csv")
# df_northern_africa = pd.read_csv("Df_regions/northern_africa.csv")
# df_southern_africa = pd.read_csv("Df_regions/southern_africa.csv")
# df_western_africa = pd.read_csv("Df_regions/western_africa.csv")

# df_northern_america = pd.read_csv("Df_regions/northern_america.csv")
# df_central_america = pd.read_csv("Df_regions/central_america.csv")
# df_caribbean = pd.read_csv("Df_regions/caribbean.csv")
# df_south_america = pd.read_csv("Df_regions/south_america.csv")

# df_central_asia = pd.read_csv("Df_regions/central_asia.csv")
# df_eastern_asia = pd.read_csv("Df_regions/eastern_asia.csv")
# df_southern_asia = pd.read_csv("Df_regions/southern_asia.csv")
# df_south_eastern_asia = pd.read_csv("Df_regions/south_eastern_asia.csv")
# df_western_asia = pd.read_csv("Df_regions/western_asia.csv")

# df_eastern_europe = pd.read_csv("Df_regions/eastern_europe.csv")
# df_northern_europe = pd.read_csv("Df_regions/northern_europe.csv")
# df_southern_europe = pd.read_csv("Df_regions/southern_europe.csv")
# df_western_europe = pd.read_csv("Df_regions/western_europe.csv")

# df_australia_new_zealand = pd.read_csv("Df_regions/australia_new_zealand.csv")
# df_melanesia= pd.read_csv("Df_regions/melanesia.csv")
# df_micronesia= pd.read_csv("Df_regions/micronesia.csv")
# df_polynesia= pd.read_csv("Df_regions/polynesia.csv")

In [56]:
# list_name = ['eastern_africa','middle_africa','northern_africa','southern_africa','western_africa','northern_america','central_america',

# 'caribbean','south_america','central_asia','eastern_asia','southern_asia','south_eastern_asia','western_asia', 

# 'eastern_europe','northern_europe','southern_europe','western_europe','australia_new_zealand','melanesia','micronesia', 

# 'polynesia']

# def preproc(list_name):
#     df_name =pd.read_csv('DF_regions'/list_name+'.csv')
#     df_name = df_name['Area Code (M49)',list_name]
#     df_name['zone']=list_name

In [57]:

list_name = ['eastern_africa','middle_africa','northern_africa','southern_africa','western_africa','northern_america','central_america',

'caribbean','south_america','central_asia','eastern_asia','southern_asia','south_eastern_asia','western_asia', 

'eastern_europe','northern_europe','southern_europe','western_europe','australia_new_zealand','melanesia','micronesia', 

'polynesia']

def preproc(list_name):
    dataframes = []
    for region in list_name:
        file_path = os.path.join('Df_regions', f'{region}.csv')
        df = pd.read_csv(file_path, usecols=['Area Code (M49)'])
        df['zone'] = region
        dataframes.append(df)
    result = pd.concat(dataframes)
    return result

df_regions = preproc(list_name)

In [58]:
df_regions = df_regions.rename(columns={'Area Code (M49)':'area_code_(fao)'})

In [59]:
df_regions

    area_code_(fao)            zone
0               108  eastern_africa
1               108  eastern_africa
2               174  eastern_africa
3               174  eastern_africa
4               262  eastern_africa
..              ...             ...
3               520      micronesia
0               258       polynesia
1               258       polynesia
2               882       polynesia
3               882       polynesia

[364 rows x 2 columns]

In [60]:
pivot_df.head()

element,area_code_(fao),area,year,pop_1000_hab,type,item,Disponibilité alimentaire (Kcal),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g),Disponibilité de protéines en quantité (g)
0,4,Afghanistan,2018,37172.0,animale,Abats Comestible,56800.0,1.36,2228.0,8180.0
1,4,Afghanistan,2018,37172.0,animale,"Beurre, Ghee",300358.0,1.00,33974.0,363.0
2,4,Afghanistan,2018,37172.0,animale,Crème,3165.0,0.04,313.0,44.0
3,4,Afghanistan,2018,37172.0,animale,Graisses Animales Crue,107974.0,0.27,11968.0,96.0
4,4,Afghanistan,2018,37172.0,animale,Lait - Excl Beurre,1348524.0,37.36,68216.0,82907.0

In [61]:
pivot_df = pd.merge(pivot_df, df_regions, on='area_code_(fao)')

In [62]:
pivot_df

,area_code_(fao),area,year,pop_1000_hab,type,item,Disponibilité alimentaire (Kcal),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g),Disponibilité de protéines en quantité (g),zone
0,4,Afghanistan,2018,37172.00,animale,Abats Comestible,56800.00,1.36,2228.00,8180.00,southern_asia
1,4,Afghanistan,2018,37172.00,animale,Abats Comestible,56800.00,1.36,2228.00,8180.00,southern_asia
2,4,Afghanistan,2018,37172.00,animale,"Beurre, Ghee",300358.00,1.00,33974.00,363.00,southern_asia
3,4,Afghanistan,2018,37172.00,animale,"Beurre, Ghee",300358.00,1.00,33974.00,363.00,southern_asia
4,4,Afghanistan,2018,37172.00,animale,Crème,3165.00,0.04,313.00,44.00,southern_asia
...,...,...,...,...,...,...,...,...,...,...,...
62000,894,Zambie,2019,17861.03,vegetal,Tomates et produits,5061.42,1.40,50.82,251.66,eastern_africa
62001,894,Zambie,2019,17861.03,vegetal,Vin,1841.69,0.15,0.00,0.04,eastern_africa
62002,894,Zambie,2019,17861.03,vegetal,Vin,1841.69,0.15,0.00,0.04,eastern_africa
62003,894,Zambie,2019,17861.03,vegetal,"Épices, Autres",13190.86,0.22,604.23,441.96,eastern_africa
62004,894,Zambie,2019,17861.03,vegetal,"Épices, Autres",13190.86,0.22,604.23,441.96,eastern_africa

# Étape n°3: Exploration

## 1 
Quelle est la médiane de la variable fat_supply_quantity_(g/capita/day) ? Q1 ? Q3 ? 

La moyenne ? L’écart type ? (il existe une méthode pour visualiser toutes ces informations en même temps). 

Interprétez ces mesures statistiques dans une phrase.

In [63]:
pivot_df

,area_code_(fao),area,year,pop_1000_hab,type,item,Disponibilité alimentaire (Kcal),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g),Disponibilité de protéines en quantité (g),zone
0,4,Afghanistan,2018,37172.00,animale,Abats Comestible,56800.00,1.36,2228.00,8180.00,southern_asia
1,4,Afghanistan,2018,37172.00,animale,Abats Comestible,56800.00,1.36,2228.00,8180.00,southern_asia
2,4,Afghanistan,2018,37172.00,animale,"Beurre, Ghee",300358.00,1.00,33974.00,363.00,southern_asia
3,4,Afghanistan,2018,37172.00,animale,"Beurre, Ghee",300358.00,1.00,33974.00,363.00,southern_asia
4,4,Afghanistan,2018,37172.00,animale,Crème,3165.00,0.04,313.00,44.00,southern_asia
...,...,...,...,...,...,...,...,...,...,...,...
62000,894,Zambie,2019,17861.03,vegetal,Tomates et produits,5061.42,1.40,50.82,251.66,eastern_africa
62001,894,Zambie,2019,17861.03,vegetal,Vin,1841.69,0.15,0.00,0.04,eastern_africa
62002,894,Zambie,2019,17861.03,vegetal,Vin,1841.69,0.15,0.00,0.04,eastern_africa
62003,894,Zambie,2019,17861.03,vegetal,"Épices, Autres",13190.86,0.22,604.23,441.96,eastern_africa
62004,894,Zambie,2019,17861.03,vegetal,"Épices, Autres",13190.86,0.22,604.23,441.96,eastern_africa